/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* app/assets/stylesheets/styles.css */

/* app/assets/stylesheets/styles.css */

/* app/assets/stylesheets/styles.css */


.texto-centralizado {
  text-align: center; /* Centraliza horizontalmente */
  vertical-align: middle; /* Centraliza verticalmente */
  line-height: normal; /* Reseta a altura da linha para alinhar verticalmente */
}

.tabela {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  border-spacing: 0;
}

.tabela th,
.tabela td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  white-space: nowrap; /* Evita quebras de linha no conteúdo */
}

.tabela thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.tabela tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.tabela .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.tabela .table th,
.tabela .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  white-space: nowrap; /* Evita quebras de linha no conteúdo */
}

.tabela .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.tabela .table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
